/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1600px) {
	.billbord .stars {
		margin-right: 7px;
	}
	.services .stars {
		margin-left: -15px;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	body {
		font-size: 14px;
		line-height: 22px;
	}
	.footer, 
	.header {
		font-size: 12px; 
		line-height: 16px;
	}  
	.phone-main {
		font-size: 14px;
	}
	.logo img {
		width: 120px;
	}
	.title-big {
		font-size: 37px;
		line-height: 49px;
		margin-bottom: 25px;
	}
	.billbord .list-page {
		margin-left: -15px;
	}
	.billbord .btn-main {
		margin-top: 20px;
	}
	.image-billbord img {
		max-width: 640px;
	}
	.item-advantage {
		font-size: 16px;
		margin-right: 20px;
	}
	.advantages {
		padding: 35px 0;
	}
	.title-section {
		font-size: 35px;
		line-height: 40px;
		margin-bottom: 15px;
	}
	.item-service__image {
		height: 200px;
	}
	.item-service__title {
		font-size: 17px;
		line-height: 25px;
	}
	.item-service__content {
		padding: 13px 25px;
	}
	.services__info::before {
		bottom: -232px;
	}
	.tabs-design a {
		padding: 13px 13px;
		line-height: 19px;
		margin-bottom: 13px;
	}
	.tabs-inner li {
		margin-bottom: 39px;
	}
	.design-block .title-min {
		margin-bottom: 24px;
	}
	.design-block {
		padding: 25px 10px;
		margin-top: 40px;
	}
	.about .title-section {
		max-width: 565px;
		margin-bottom: 28px;
	}
	.about-info__value {
		font-size: 30px;
		line-height: 39px;
	}
	.about-info__value sup {
		font-size: 16px;
	}
	.about-info {
		padding-top: 35px;
		padding-left: 40px;
		padding-bottom: 20px;
		padding-right: 10px;
		line-height: 20px;
	}
	.item-category__image {
		height: 180px;
		margin-bottom: 10px;
	}
	.item-category__title {
		font-size: 16px;
		line-height: 27px;
	}
	.consultation-block {
		padding: 30px 30px;
		border-radius: 45px;
	}
	.consultation-block .btn-main {
		width: 230px;
	}
	.descr-consultation {
		font-size: 16px;
		line-height: 24px;
		max-width: 584px;
	}
	.descr-consultation a {
		font-size: 18px;
		line-height: 30px;
	}
	.about-info::before {
		border-radius: 60px 0px 0px 0px;
	}
	.production .title-section {
		max-width: 580px;
	}
	.item-production {
		line-height: 20px;
		margin-top: 30px;
		padding-left: 45px;
	}
	.image-production img {
		max-width: 600px;
	}
	.title-small {
		font-size: 16px;
		line-height: 23px;
	}
	.contacts-block .title-small {
		margin-bottom: 7px;
	}
	.footer__nav_big, .footer__title {
		font-size: 16px;
		line-height: 23px;
	}
	.footer-bottom {
		font-size: 10px;
	}
	.wrapper {
		padding-top: 124px;
	}
	.page-about .quote {
		margin: 0 30px;
	}
	.item-number__value {
		font-size: 32px;
		line-height: 37px;
		margin-bottom: 16px;
	}
	.item-number__value sup {
		font-size: 17px;
	}
	.numbers-block {
		padding: 39px 35px;
		padding-bottom: 50px;
		line-height: 25px;
	}
	.numbers-block .row > div:last-child .item-number {
		margin-left: 0;
	}
	.page-about {
		padding-bottom: 80px;
	}
	.page-about .article-main {
		line-height: 22px;
	}
	.block-form {
		padding-left: 35px;
		padding-right: 35px;
	}
	.thanks__stars {
		top: 0px;
		right: -122px;
	}
	.descr-thanks {
		font-size: 30px;
		line-height: 43px;
		margin-bottom: 45px;
	}
	.thanks {
		padding-top: 50px;
		padding-bottom: 145px;
	}
	.item-service:hover .item-service__content_main {
		height: 432px;
	}
} 

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	/*youtube video inside fancybox*/
	.fancybox-type-iframe .fancybox-inner {
		height: auto !important;
	}
	.fancybox-type-iframe iframe{
		width: calc(100vw - 40px);
		height: calc(100vw/1.77);
	}
	.header__nav,
	.header__top .item-header {
		display: none;
	}
	.billbord .title-big {
		padding-top: 0;
	}
	.billbord {
		padding-top: 10px;
		padding-bottom: 30px;
	}
	.production__right {
		padding-left: 15px;
	}
	.item-advantage {
		font-size: 12px;
		line-height: 17px;
	}
	.item-advantage img {
		margin: 12px;
		max-width: 30px;
		max-height: 30px;
	}
	.advantages {
		padding: 15px 0;
	}
	.image-billbord {
		display: none;
	}
	.title-big {
		font-size: 33px;
		line-height: 45px;
		margin-bottom: 20px;
	}
	.services__info::before {
		bottom: -464px;
	}
	.design {
		padding-top: 20px;
	}
	.desgin-gif {
		margin-left: 0;
		margin-top: 20px;
	}
	.tabs-design {
		display: flex;
		align-items: center;
		overflow: auto;
		margin-right: -20px;
		padding-bottom: 10px;
		margin-bottom: 20px;
	}
	.tabs-design a {
		margin-bottom: 0;
		margin-right: 12px;
	}
	.design-block {
		padding: 25px 20px;
		margin-top: 30px;
	}
	.design-block__right {
		padding-left: 15px;
		order: -1;
	}
	.tabs-design::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.tabs-design::-webkit-scrollbar:vertical {
		width: 3px;
	}
	.tabs-design::-webkit-scrollbar:horizontal {
		height: 3px;
	}
	.tabs-design::-webkit-scrollbar-thumb {
		background-color: #4606C8;
		border-radius: 10px;
	}
	.tabs-design::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: #ccc;
	}
	.tabs-inner li {
		margin-bottom: 20px;
	}
	.tabs-inner {
		columns: 2;
	}
	.image-design {
		margin: 0;
	}
	.video-about .title-section {
		margin-bottom: 25px;
	}
	.video-main {
		width: 500px;
		height: 230px;
	}
	.video-main::after {
		width: 50px;
		height: 50px;
	}
	.video-about {
		padding-top: 30px;
		padding-bottom: 55px;
	}
	.about-info {
		columns: 2;
	}
	.categories {
		padding-top: 35px;
		padding-bottom: 38px;
	}
	.production {
		padding-top: 170px
	}
	.item-form {
		margin-bottom: 15px;
	}
	.col-btn {
		width: 100%;
	}
	.col-btn .btn-main {
		width: 100%;
	}
	.consultation-block .checkbox {
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}
	.btn-main {
		height: 55px;
		font-size: 14px;
	}
	.consultation-block__image {
		width: 110px;
		height: 110px;
		margin-right: 20px;
	}
	.image-production {
		display: none;
	}
	.item-production__title {
		font-size: 16px;
		line-height: 23px;
		margin-bottom: 14px;
	}
	.footer__nav_big {
		padding-left: 0;
	}
	.footer__content {
		padding-top: 15px;
		display: none;
	}
	.footer__title,
	.footer__nav_big a {
		padding: 10px 0;
		border-bottom: 1px solid #fff;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.footer__nav_big li {
		margin: 0;
	}
	.footer .logo-wrap {
		margin-bottom: 20px;
		justify-content: center;
	}
	.footer-bottom {
		font-size: 12px;
		text-align: center;
	}
	.create {
		justify-content: center;
	}
	.footer-bottom .row > div {
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.btn_top {
		float: none;
	}
	.footer__title i {
		font-size: 12px;
		display: inline-block;
		transition: all 0.3s;
	}
	.footer__title.active i {
		transform: rotate(180deg);
	}
	.footer, .header {
		font-size: 14px;
		line-height: 20px;
	}
	.services {
		padding-top: 45px;
	}
	.wrapper {
		padding-top: 76px;
	}
	.sandwich {
		margin-right: -8px;
		display: inline-flex;
	}
	.header {
		border-bottom: 1px solid #E2E0E0;
		transform: none !important;
	}
	.menu-mobile {
		width: 100%;
		top: 100%;
		left: 0;
		height: 100vh;
		padding: 15px 15px;
		padding-bottom: 120px;
		display: none;
		overflow: auto;
		background-color: #fff;
		position: absolute;
	}
	.menu a {
		margin: 0;
		padding: 10px 0;
		display: block;
		position: relative;
		border-bottom: 1px solid #000;
	}
	.menu-mobile .menu {
		display: block;
		margin: 0;
		margin-bottom: 20px;
	}
	.menu a:hover {
		border-color:#4606C8;
	}
	.menu-mobile .item-header {
		margin-bottom: 14px;
	}
	.page-services {
		padding-bottom: 20px;
	}
	.article-main > img {
		float: none;
		margin: 0;
		margin-bottom: 20px;
	}
	.article-main h1 {
		font-size: 30px;
		line-height: 39px;
		margin-bottom: 15px;
	}
	.article-main h2 {
		font-size: 24px;
		line-height: 33px;
		margin-bottom: 15px;
		margin-top: 24px;
	}
	.article-main ul,
	.article-main p {
		margin-bottom: 15px;
	}
	.row_gallery {
		margin: 0 -7px;
	}
	.row_gallery > div {
		padding: 0 7px;
		margin-top: 14px;
	}
	.page-service {
		padding-bottom: 35px;
	}
	.page-service ~ .production {
		padding-top: 45px;
	}
	.image-about {
		margin-bottom: 25px;
	}
	.item-number {
		margin-bottom: 20px;
	}
	.numbers-block {
		padding: 35px 30px;
		padding-bottom: 20px;
	}
	.item-contact__title {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.item-contact {
		margin-top: 0;
		margin-bottom: 25px;
	}
	.thanks__gif {
		margin: 0;
	}
	.video-block #video {
		height: 375px;
	}
	.play-btn::after {
		width: 80px;
		height: 80px;
		bottom: 120px;
	}
	.page-about .quote::after {
		margin-top: 0;
	}
	.page-about .quote {
		margin-bottom: 25px;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.title-big {
		font-size: 29px;
		line-height: 38px;
		margin-bottom: 15px;
	}
	.logo-descr {
		font-size: 11px;
		line-height: 13px;
		margin-left: 12px;
		max-width: 100px;
	}
	.logo img {
		width: 100px;
	}
	.list-page {
		line-height: 18px;
	}
	.billbord .list-page {
		margin-left: 0;
		margin-top: 15px;
		max-width: 100%;
	}
	.list-page li {
		margin-bottom: 9px;
	}
	.item-service {
		height: 200px;
	}
	.item-service li {
		margin-bottom: 5px;
	}
	.stars {
		display: none;
	}
	.title-section {
		font-size: 24px;
		line-height: 35px;
	}
	.desgin-gif::before {
		width: 375px;
		height: 21px;
	}
	.about .title-section {
		margin-bottom: 20px;
	}
	.text-about p {
		margin-bottom: 15px;
	}
	.about .descr-section {
		margin-bottom: 15px;
	}
	.about-gif {
		width: 100px;
		height: 47px;
	}
	.about {
		padding-top: 30px;
	}
	.quote::before {
		left: 0;
		top: -15px;
	}
	.quote {
		padding-top: 45px;
		padding-right: 25px;
		margin-bottom: 40px;
	}
	.about-info::before {
		border-radius: 0;
		left: -100px;
	}
	.about-info {
		padding: 25px 0;
	}
	.about-info__value {
		font-size: 22px;
		line-height: 33px;
	}
	.about-info__value sup {
		font-size: 13px;
	}
	.item-category__image {
		height: 240px;
	}
	.consultation-block__wrapper {
		display: block;
	}
	.consultation-block__image {
		width: 180px;
		height: 180px;
		margin: 0;
		margin-bottom: 20px;
	}
	.row_consultation-block {
		margin-top: 10px;
	}
	.descr-consultation {
		font-size: 14px;
		line-height: 22px;
	}
	.descr-consultation a {
		font-size: 15px;
		line-height: 28px;
	}
	.consultation-block {
		border-radius: 25px;
	}
	.item-production img {
		max-width: 30px;
		max-height: 30px;
	}
	.item-production {
		line-height: 20px;
		margin-top: 15px;
		padding-left: 40px;
	}
	.production {
		padding-bottom: 40px;
	}
	.contacts-block {
		position: relative;
		left: 0;
		right: 0;
	}
	#map {
		height: 300px;
	}
	.contacts-block {
		border-radius: 0;
		margin: 0 -15px;
	}
	.services__info::before {
		border-radius: 0px 40px 0px 0px;
	}
	.wrapper {
		padding-top: 68px;
	}
	.page-services .descr-section {
		margin-bottom: 20px;
	}
	.breadcrumbs {
		padding-top: 15px;
		padding-bottom: 20px;
	}
	.item-number__value {
		font-size: 32px;
		line-height: 34px;
		margin-bottom: 10px;
	}
	.numbers-block {
		line-height: 22px;
	}
	.numbers-about {
		padding-bottom: 40px;
	}
	.page-contacts .block-form {
		margin-bottom: 0;
	}
	.page-contacts {
		padding-bottom: 25px;
	}
	.page-contacts ~ #map {
		height: 300px;
	}
	.title-thanks {
		font-size: 38px;
		line-height: 48px;
		margin-bottom: 15px;
	}
	.descr-thanks {
		font-size: 25px;
		line-height: 34px;
		margin-bottom: 25px;
		max-width: 360px;
	}
	.thanks__gif {
		margin: 0 auto;
		margin-top: 25px;
	}
	.thanks {
		padding-top: 35px;
		padding-bottom: 85px;
	}
	.thanks__stars {
		top: -165px;
		right: 12px;
	}
	.quote {
		max-width: 315px;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
	}
	.quote::before {
		left: -18px;
	}
	.row_categories {
		margin: 0;
		border: 1px solid #D9D9D9;
	}
	.row_categories > div {
		padding: 0;
		border-bottom: 1px solid #D9D9D9;
	}
	.row_categories > div:nth-child(odd) {
		border-right: 1px solid #D9D9D9;
	}
	.row_categories > div:last-child {
		border-bottom: none;
	}
	.item-category__image {
		display: none;
	}
	.item-category__icon {
		height: 60px;
		margin-bottom: 10px;
		width: 100%;
		display: flex;
		align-items: center;
	}
	.item-category__icon img {
		max-width: 100%;
		max-height: 100%;
	}
	.item-category {
		padding: 15px 15px;
		padding-right: 5px;
		margin: 0;
		min-height: 100%;
	}
	.item-category__title {
		font-size: 14px;
		line-height: 18px;
		font-weight: 400;
	}
	.categories .title-section {
		margin-bottom: 20px;
	}
	.video-block #video {
		height: 300px;
	}
	.play-btn::after {
		width: 70px;
		height: 70px;
		bottom: 100px;
	}
	.page-about .quote {
		margin-left: auto;
		margin-right: auto;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.title-big {
		font-size: 22px;
		line-height: 32px;
	}
	.row_services > div {
		margin-bottom: 25px;
	}
	.services__info::before {
		bottom: -450px;
	}
	.video-main {
		height: 170px;
	}
	.video-about {
		padding-bottom: 35px;
	}
	.item-category__image {
		height: 215px;
	}
	.consultation-block {
		padding: 25px 15px;
		border-radius: 0;
		margin: 0 -15px;
	}
	.production {
		padding-top: 30px;
	}
	.page-about {
		padding-top: 25px;
	}
	.item-contact__title {
		font-size: 15px;
	}
	.block-form {
		padding: 25px 20px;
	}
	.block-form__title {
		font-size: 25px;
		line-height: 45px;
	}
	.block-form__descr {
		margin-bottom: 10px;
	}
	.block-form .btn-main {
		margin-top: 30px;
	}
	.descr-thanks {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 25px;
		max-width: 310px;
	}
	.thanks__stars img {
		max-width: 400px;
	}
	.thanks__stars {
		top: -196px;
	}
	.thanks__gif {
		width: 240px;
		height: 240px;
	}
	.tabs-inner a::after, .tabs-inner a::before {
		width: 16px;
		height: 16px;
		background-size: cover;
	}
	.tabs-inner a {
		padding-left: 20px;
		font-size: 12px;
		white-space: nowrap;
	}
	.design-block {
		padding-left: 15px;
		padding-right: 15px;
	}
	.tabs-design {
		margin-right: -15px;
	}
	.video-block #video {
		height: 250px;
	}
	.play-btn::after {
		width: 60px;
		height: 60px;
		bottom: 75px;
	}
	.item-service:hover .item-service__content_main {
		height: 425px;
	}
	.page-about .quote::before {
		left: -15px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.footer__content {
		display: block !important;
	}
	.menu-mobile {
		display: none !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1600px) {
	.container {
		max-width: 1170px;
	}
}